.table-container {
    max-height: 720px; /* Set a fixed height for the table body */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }

.table td {
    text-align: center; /* 水平置中 */
    vertical-align: middle; /* 垂直置中 */
    font-size: 16px; /* 字體大小 */
}